
#cssload-overlay {
    position: absolute; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9c2a20; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.cssload-loading {
	width: 36px;
	height: 36px;
	position: absolute;
    /*margin-left: -18px;*/
    margin-top: -18px;
  	top: 50%;
  	left: 50%;
	background: rgb(224,191,46);
	display: block!important;
	/*margin: auto;*/
	animation: 0.95s cssload-spin infinite;
		-o-animation: 0.95s cssload-spin infinite;
		-ms-animation: 0.95s cssload-spin infinite;
		-webkit-animation: 0.95s cssload-spin infinite;
		-moz-animation: 0.95s cssload-spin infinite;
}
.cssload-loading::before, .cssload-loading::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	animation: 0.475s infinite alternate linear
}
.cssload-loading::before {
	background: rgb(158,43,33);
		-o-animation: 0.475s infinite alternate linear
}
.cssload-loading::before {
	background: rgb(158,43,33);
		-ms-animation: 0.475s infinite alternate linear
}
.cssload-loading::before {
	background: rgb(158,43,33);
		-webkit-animation: 0.475s infinite alternate linear
}
.cssload-loading::before {
	background: rgb(158,43,33);
		-moz-animation: 0.475s infinite alternate linear
}
.cssload-loading::before {
	background: rgb(158,43,33);
	animation-name: cssload-blur1;
		-o-animation-name: cssload-blur1;
		-ms-animation-name: cssload-blur1;
		-webkit-animation-name: cssload-blur1;
		-moz-animation-name: cssload-blur1;
}
.cssload-loading::after {
	background: rgb(255,255,255);
	animation-name: cssload-blur2;
		-o-animation-name: cssload-blur2;
		-ms-animation-name: cssload-blur2;
		-webkit-animation-name: cssload-blur2;
		-moz-animation-name: cssload-blur2;
}
@keyframes cssload-spin {
	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spin {
	to {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
	to {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
	to {
		-moz-transform: rotate(360deg);
	}
}

@keyframes cssload-blur1 {
	to {
		transform: rotate(-30deg);
	}
}

@-o-keyframes cssload-blur1 {
	to {
		-o-transform: rotate(-30deg);
	}
}

@-ms-keyframes cssload-blur1 {
	to {
		-ms-transform: rotate(-30deg);
	}
}

@-webkit-keyframes cssload-blur1 {
	to {
		-webkit-transform: rotate(-30deg);
	}
}

@-moz-keyframes cssload-blur1 {
	to {
		-moz-transform: rotate(-30deg);
	}
}

@keyframes cssload-blur2 {
	to {
		transform: rotate(-15deg);
	}
}

@-o-keyframes cssload-blur2 {
	to {
		-o-transform: rotate(-15deg);
	}
}

@-ms-keyframes cssload-blur2 {
	to {
		-ms-transform: rotate(-15deg);
	}
}

@-webkit-keyframes cssload-blur2 {
	to {
		-webkit-transform: rotate(-15deg);
	}
}

@-moz-keyframes cssload-blur2 {
	to {
		-moz-transform: rotate(-15deg);
	}
}